---
import PageLayout from "@/layouts/PageLayout.astro";
import { projects } from "@/projects";
---

<PageLayout title="Projects" class="container">
    <h1>Projects</h1>
    <ul role="list" class="flow divide-y">
        {projects.map((project) => <li>{JSON.stringify(project)}</li>)}
    </ul>
</PageLayout>
