---
import { getCollection } from "astro:content";
import Tags from "@/components/Tags.astro";
import Socials from "@/components/Socials.astro";
import { socials } from "@/consts";

const posts = await getCollection("blog");
const allTags = posts.flatMap((post) => post.data.tags).filter(Boolean);
const uniqueTags = [...new Set(allTags)].sort();

const allYears = posts.map((post) => post.data.pubDate.getFullYear().toString());
const uniqueYears = [...new Set(allYears)].sort((a, b) => b.localeCompare(a));
---

<aside class="sticky">
	<h2>Tags</h2>
	<Tags tags={uniqueTags} class="blog-list" />

	<h2>Archive</h2>
	<ul role="list" class="blog-list inline-flex flex-wrap gap">
		<li><a href="/blog/">All</a></li>
		{
			uniqueYears.map((year) => (
				<li>
					<a href={`/blog/${year}/`}>{year}</a>
				</li>
			))
		}
	</ul>

	<hr />

	<Socials data={socials} />
</aside>

<style>
	aside {
		align-self: start;

		@media (width >= 128ch) {
			--inset-y: var(--size-6) auto;

			> :first-child {
				margin-block-start: 0;
			}
		}

		.blog-list {
			--gap: var(--size-1) var(--size-2);
			color: var(--color-muted);

			:any-link:not(:hover) {
				text-decoration: none;
			}
		}
	}
</style>
