---
import ThemeToggleBtn from "@/components/ThemeToggle/btn.astro";
import RssBtn from "@/components/RssBtn.astro";
import MobileMenu from "@/components/MobileMenu.astro";

import { siteTitle } from "@/consts";
import { mainMenu } from "@/menus";
---

<header class="page-header container flex gap-sm align">
	<a href="/" class="logo" aria-label={siteTitle}>
		<span class="symbol">&lt;</span>
		<span>GrimLink</span>
		<span class="symbol">&gt;</span>
	</a>
	<div class="inline-flex gap">
		<ThemeToggleBtn />
		<RssBtn />
		<MobileMenu items={mainMenu} />
	</div>
</header>

<style>
	header {
		padding-block: 1rem;
		background-color: var(--root-bg);
		border-block-end: 1px solid oklch(from var(--root-fg) l c h / 10%);

		:is(.btn, button) {
			--btn-stroke: transparent;
		}

		@container (not scroll-state(scrolled: none)) {
			z-index: 5;
			position: sticky;
			top: 0;
			transition: translate 0.3s;
		}

		@container (scroll-state(scrolled: bottom)) {
			translate: 0 -100%;
		}

		@container (scroll-state(scrolled: top)) {
			translate: 0 0;
		}
	}

	.logo {
		display: inline-flex;
		gap: 0.25em;
		font-family: var(--family-mono);
		text-decoration: none;

		@media (prefers-reduced-motion: no-preference) {
			transition: translate 0.2s var(--ease-out-3);
		}

		.symbol {
			transition: opacity 0.2s var(--ease-out-3);
		}

		&:hover {
			translate: -1ch 0;

			.symbol {
				opacity: 0;
			}
		}
	}
</style>
