---
import SocialsIcons from "@/assets/socials.svg?url";
import ThemeToggleBtn from "@/components/ThemeToggle/btn.astro";
import { siteTitle } from "@/consts";
---

<header class="container flex gap-sm align">
    <a href="/" class="logo" aria-label={siteTitle}>
        <span class="symbol">&lt;</span>
        <span>GrimLink</span>
        <span class="symbol">&gt;</span>
    </a>
    <div class="inline-flex gap">
        <ThemeToggleBtn />
        <a href="/rss.xml" class="btn" aria-label="RSS Feed">
            <svg width="20" height="20" fill="currentcolor">
                <use href={`${SocialsIcons}#rss`}></use>
            </svg>
        </a>
    </div>
</header>

<style>
    header {
        padding-block: 1rem;
        background-color: var(--root-bg);
        border-block-end: 1px solid oklch(from var(--root-fg) l c h / 10%);
    }

    .logo {
        display: inline-flex;
        gap: 0.25em;
        font-family: var(--family-mono);
        text-decoration: none;

        @media (prefers-reduced-motion: no-preference) {
            transition: translate 0.2s var(--ease-out-3);
        }

        .symbol {
            transition: opacity 0.2s var(--ease-out-3);
        }

        &:hover {
            translate: -1ch 0;

            .symbol {
                opacity: 0;
            }
        }
    }

    .btn {
        --btn-stroke: transparent;
    }
</style>
