---
import { author, today } from "@/consts";

const menuItems = [
	{ href: "/blog/", label: "Feed" },
	// { href: "/events/", label: "Events" },
	{ href: "/about/", label: "About Me" },
];
---

<footer class="container text-center flow">
	<nav>
		<ul class="inline-flex gap">
			{
				menuItems.map((item) => (
					<li>
						<a href={item.href}>{item.label}</a>
					</li>
				))
			}
		</ul>
	</nav>
	<small class="block">
		© {today.getFullYear()}
		{author}.
	</small>
</footer>
<style>
	footer {
		margin-block-start: var(--size-8);
		padding-block: var(--size-8);
		border-block-start: 1px solid oklch(from var(--root-fg) l c h / 10%);
	}
</style>
