---
import { author, today } from "@/consts";
import { footerMenu } from "@/menus";
---

<footer class="page-footer container text-center flow">
	<nav>
		<ul class="inline-flex gap">
			{
				footerMenu.map((item) => (
					<li>
						<a
							href={item.url}
							aria-current={item.url === Astro.url.pathname ? "page" : undefined}
						>
							{item.label}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
	<small class="block">
		© {today.getFullYear()}
		{author}.
	</small>
</footer>
<style>
	footer {
		margin-block-start: var(--size-8);
		padding-block: var(--size-8);
		border-block-start: 1px solid oklch(from var(--root-fg) l c h / 10%);
	}

	nav {
		margin-block-end: var(--size-8);
	}
</style>
