---
import type { CollectionEntry } from "astro:content";

interface Props {
	prev?: CollectionEntry<"blog"> | null;
	next?: CollectionEntry<"blog"> | null;
}

const { prev, next } = Astro.props;
---

{
	(prev || next) && (
		<nav class="flex-col gap" aria-label="Post navigation" style={{ "--sm_flex-dir": "row" }}>
			{next ? (
				<a href={`/blog/${next.id}/`} class="btn flex-auto" rel="next">
					<span class="sr-only">Go to post:</span>
					<span aria-hidden="true">←</span>
					{next.data.title}
				</a>
			) : (
				<a href={`/blog/`} class="btn flex-auto">
					<span aria-hidden="true">←</span>
					Back to Feed
				</a>
			)}
			{prev ? (
				<a href={`/blog/${prev.id}/`} class="btn flex-auto" rel="prev">
					<span class="sr-only">Go to post:</span>
					{prev.data.title}
					<span aria-hidden="true">→</span>
				</a>
			) : (
				<span />
			)}
		</nav>
	)
}
