---
interface Props {
	tags: (string | undefined)[];
	class?: string;
	style?: {
		[key: string]: string;
	};
	linkPrefix?: string;
}

const { tags, class: className, style, linkPrefix = "/blog/tags" } = Astro.props;
---

{
	tags && tags.length > 0 && (
		<ul role="list" class:list={["tags inline-flex flex-wrap gap", className]} style={style}>
			{tags.map((tag) => (
				<li>
					<a href={`${linkPrefix}/${tag}/`}>#{tag}</a>
				</li>
			))}
		</ul>
	)
}

<style>
	.tags {
		--gap: var(--size-1) var(--size-2);
		color: var(--color-muted);

		:any-link:not(:hover) {
			text-decoration: none;
		}
	}
</style>
