@layer theme, base, components, utilities;

@import "@fylgja/base" layer(base);
@import "./theme" layer(base);

@import "@fylgja/tokens/css/sizes.css" layer(theme);
@import "@fylgja/tokens/css/fonts.css" layer(theme);
@import "@fylgja/tokens/css/shadows.css" layer(theme);
@import "@fylgja/tokens/css/easing.css" layer(theme);

@import "@fylgja/utilities" layer(utilities);

@layer theme {
    :root {
        --color-muted: color-mix(in oklab, var(--root-fg) 70%, var(--root-bg));
    }
}

@layer utilities {
    .float-start {
        float: inline-start;
    }

    .float-end {
        float: inline-end;
    }

    .text-brand {
        color: var(--brand);
    }

    .text-muted {
        color: var(--color-muted);
    }

    .text-sm {
        font-size: 0.875em;
    }

    .text-md {
        font-size: 1em;
    }

    .text-lg {
        font-size: 1.125em;
    }

    .text-xl {
        font-size: 1.25em;
    }

    .font-medium {
        font-weight: 500;
    }

    .underline {
        text-decoration: underline;
    }

    .no-underline {
        text-decoration: none;
    }

    .hover-underline {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
